.cache
*.pdf
overrides/config/brandon3055/ProjectIntelligence
overrides/config/brandon3055/ResourceCache
build
temp
tools/node_modules

*iml
/overrides/groovy/assets/
/overrides/groovy/lib/

**/.idea/
**/.idea_modules/

.vscode/
tools/.vscode/

# Tools Debugging
tools/.dest/

# OS Specific

# Mac
*.icloud
*.DS_Store

# Linux
*~

