# Set the default behavior:
# On checkout, the line endings will be normalized to the correct one for the OS
# On commit, the line endings will be reset to lf
* text=auto

# Text Files
*.txt text
*.md text
LICENSE text

*.cfg text
*.lang text

*.bat text
*.sh text

*.json text
*.yml text
*.yaml text
*.toml text

*.js text
*.ts text

*.zs text
*.groovy text

*.xml text
*.xsd text
*.svg text

# Binary Files
*.png binary
*.jpg binary
*.pdf binary