.cache
*.pdf
overrides/config/brandon3055/ProjectIntelligence
overrides/config/brandon3055/ResourceCache
build
tools/node_modules

.idea/
.idea_modules/
tools/.idea/
tools/.idea_modules/

.vscode/
tools/.vscode/

# OS Specific

# Mac
*.icloud
*.DS_Store

# Linux
*~


