# Set the default behavior:
# On checkout, the line endings will be normalized to the correct one for the OS
# On commit, the line endings will be reset to lf
* text=auto

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary