.cache
*.pdf
overrides/config/brandon3055/ProjectIntelligence
overrides/config/brandon3055/ResourceCache
build
tools/node_modules

.idea/
.idea_modules/

# OS Specific

# Mac
*.icloud
*.DS_Store

# Linux
*~


