# Configuration file

~CONFIG_VERSION: 0.1.0

world-78688046 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=bio
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


world1855637915 {
    # Show the list of bookmarks next to open GUIs.
    B:bookmarkOverlayEnabled=true

    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=true

    # Hide and unhide ingredients by clicking them in the list.
    B:editEnabled=false
    S:filterText=loot fa

    # Show the list of ingredients next to open GUIs.
    B:overlayEnabled=true
}


