name: Checks
on:
  push:
  pull_request:

jobs:
  checks:
    name: Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Ref
        uses: actions/checkout@v5

      - name: Check Line Endings
        run: |
          git add --renormalize . # Ensure Git Attributes is applied, changing all files to LF (as we are Unix)
          git diff --cached --exit-code # Throws if changes are detected

      - name: Restore NPM Cached Files
        uses: actions/cache@v4
        id: npm-cache
        with:
          path: |
            ~/.npm
            ./tools/node_modules
          key: ${{ runner.os }}-npm-${{ hashFiles('./tools/package-lock.json') }}
          restore-keys: ${{ runner.os }}-npm-

      - name: Setup NodeJS v20
        uses: actions/setup-node@v6
        with:
          node-version: 22
          check-latest: true

      - name: Setup NPM Packages
        if: steps.npm-cache.outputs.cache-hit != 'true'
        working-directory: ./tools
        run: npm ci

      - name: Check Buildscripts
        working-directory: ./tools
        run: npm run check

      - name: Check Manifest
        working-directory: ./tools
        run: npm run gulp checkManifest

      - name: Check Groovy Scripts
        working-directory: ./tools
        run: npm run groovyLint

      - name: Check QB
        working-directory: ./tools
        run: npm run gulp checkQB

      - name: Build Lang Typo Check
        working-directory: ./tools
        run: npm run gulp buildTypoCheck

      - name: Lang Typo Check
        uses: crate-ci/typos@v1
        with:
          files: build/typo-check/

      - name: Other Misc Typo Check
        uses: crate-ci/typos@v1
        with:
          files: .github/ README.md overrides/README.md

  secretChecks:
    name: Checks (with Secret Requirements)
    runs-on: ubuntu-latest
    # Only allow runs from commits to Nomi-CEu Branches or from pull requests from Nomi-CEu repo
    if: "${{ github.repository_owner == 'Nomi-CEu' && ( !github.event.pull_request || ( github.event.pull_request.head.repo.owner.login == 'Nomi-CEu' ) ) }}"
    needs: checks
    steps:
      - name: Checkout Ref
        uses: actions/checkout@v5

      - name: Restore NPM Cached Files
        uses: actions/cache@v4
        id: npm-cache
        with:
          path: |
            ~/.npm
            ./tools/node_modules
          key: ${{ runner.os }}-npm-${{ hashFiles('./tools/package-lock.json') }}
          restore-keys: ${{ runner.os }}-npm-

      - name: Setup NodeJS v20
        uses: actions/setup-node@v6
        with:
          node-version: 22
          check-latest: true

      - name: Setup NPM Packages
        if: steps.npm-cache.outputs.cache-hit != 'true'
        working-directory: ./tools
        run: npm ci

      - name: Check Manifest Files
        working-directory: ./tools
        run: npm run gulp checkManifestFiles
        env:
          CFCORE_API_TOKEN: ${{ secrets.CFCORE_API_TOKEN }}

      - name: Upload Mod List
        uses: actions/upload-artifact@v5
        with:
          name: Mod List
          path: ./build/modlist.html
          if-no-files-found: error
          compression-level: 9
