name: Checks
on:
  push:
  pull_request:
    types:
      - opened
      - reopened
      - unlocked
      - synchronize

jobs:
  checks:
    name: Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Ref
        uses: actions/checkout@v6

      - name: Check Line Endings
        run: |
          git add --renormalize . # Ensure Git Attributes is applied, changing all files to LF (as we are Unix)
          git diff --cached --exit-code # Throws if changes are detected

      - name: Restore NPM Cached Files
        uses: actions/cache@v4
        id: npm-cache
        with:
          path: |
            ~/.npm
            ./tools/node_modules
          key: ${{ runner.os }}-npm-${{ hashFiles('./tools/package-lock.json') }}
          restore-keys: ${{ runner.os }}-npm-

      - name: Setup NodeJS v24
        uses: actions/setup-node@v6
        with:
          node-version: 24
          check-latest: true

      - name: Setup NPM Packages
        if: steps.npm-cache.outputs.cache-hit != 'true'
        working-directory: ./tools
        run: npm ci

      - name: Check Buildscripts
        working-directory: ./tools
        run: npm run check && npm run lint

      - name: Check Manifest
        working-directory: ./tools
        run: npm run gulp checkManifest

      - name: Check Groovy Scripts
        working-directory: ./tools
        run: npm run groovyLint

      - name: Check QB
        working-directory: ./tools
        run: npm run gulp checkQB

      - name: Build Lang Typo Check
        working-directory: ./tools
        run: npm run gulp buildTypoCheck

      - name: Lang Typo Check
        uses: crate-ci/typos@v1
        with:
          files: build/typo-check/

      - name: Other Misc Typo Check
        uses: crate-ci/typos@v1
        with:
          files: .github/ README.md overrides/README.md

  secretChecks:
    name: Secret Checks
    runs-on: ubuntu-latest
    outputs:
      success: ${{ steps.secretChecks.outputs.success }}
    steps:
      - name: Secret Checks
        id: secretChecks
        uses: Nomi-CEu/SecretChecker@v1.1.0
        with:
          secrets: ${{ toJSON(secrets) }}
          check: CFCORE_API_TOKEN

  advancedChecks:
    # Only allow runs that have the CFCORE_API_TOKEN secret (e.g. we are in the main repo)
    if: needs.secretChecks.outputs.success == 'true'
    name: Checks (with Secret Requirements)
    runs-on: ubuntu-latest
    needs: [checks, secretChecks]
    steps:
      - name: Checkout Ref
        uses: actions/checkout@v6

      - name: Restore NPM Cached Files
        uses: actions/cache@v4
        id: npm-cache
        with:
          path: |
            ~/.npm
            ./tools/node_modules
          key: ${{ runner.os }}-npm-${{ hashFiles('./tools/package-lock.json') }}
          restore-keys: ${{ runner.os }}-npm-

      - name: Setup NodeJS v24
        uses: actions/setup-node@v6
        with:
          node-version: 24
          check-latest: true

      - name: Setup NPM Packages
        if: steps.npm-cache.outputs.cache-hit != 'true'
        working-directory: ./tools
        run: npm ci

      - name: Check Manifest Files
        working-directory: ./tools
        run: npm run gulp checkManifestFiles
        env:
          CFCORE_API_TOKEN: ${{ secrets.CFCORE_API_TOKEN }}

      - name: Upload Mod List
        uses: actions/upload-artifact@v5
        with:
          name: Mod List
          path: ./build/modlist.html
          if-no-files-found: error
          compression-level: 9

  manifestSecretChecks:
    name: Manifest Secret Checks
    runs-on: ubuntu-latest
    outputs:
      success: ${{ steps.secretChecks.outputs.success }}
    steps:
      - name: Secret Checks
        id: secretChecks
        uses: Nomi-CEu/SecretChecker@v1.1.0
        with:
          secrets: ${{ toJSON(secrets) }}
          check: |
            APP_ID
            APP_KEY

  manifestChangeComment:
    # Only run if we are on a PR, and we are on main repo (checked via advancedChecks dependency)
    if: github.event_name == 'pull_request' && needs.manifestSecretChecks.outputs.success == 'true'
    name: Post Manifest Change Comment
    runs-on: ubuntu-latest
    needs: [advancedChecks, manifestSecretChecks]
    steps:
      - name: Get Token
        id: token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_KEY }}
          owner: Nomi-CEu

      - name: Checkout Base Ref
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.base.sha }}

      - name: Restore NPM Cached Files
        uses: actions/cache@v4
        id: npm-cache
        with:
          path: |
            ~/.npm
            ./tools/node_modules
          key: ${{ runner.os }}-npm-${{ hashFiles('./tools/package-lock.json') }}
          restore-keys: ${{ runner.os }}-npm-

      - name: Setup NodeJS v24
        uses: actions/setup-node@v6
        with:
          node-version: 24
          check-latest: true

      - name: Setup NPM Packages
        if: steps.npm-cache.outputs.cache-hit != 'true'
        working-directory: ./tools
        run: npm ci

      - name: Checkout Head Ref
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          path: ./temp
          sparse-checkout: manifest.json

      - name: Generate Comment Contents
        working-directory: ./tools
        run: npm run gulp manifestChangeComment
        env:
          CFCORE_API_TOKEN: ${{ secrets.CFCORE_API_TOKEN }}

      - uses: mshick/add-pr-comment@v2
        if: ${{ hashFiles('./build/modChanges.md') != '' }}
        with:
          message-path: ./build/modChanges.md
          repo-token: ${{ steps.token.outputs.token }}
