# This workflow file tests PRs made from forks.

# Disable this if it is considered too much of a security risk (although many efforts have been taken to reduce risk)
# If workflow enabled, make sure to set the environment used to need a specific team (admin-devs), and default GITHUB_TOKEN perms to read!
# See https://securitylab.github.com/research/github-actions-preventing-pwn-requests/ for more information!

# Actions taken to reduce risk:
# This workflow is only started if a PR has the 'fork-build' label, and when the deployment to `forkprbuildpack` is approved (by admin-devs)
# Only the CFCORE_API_TOKEN secret is accessed, meaning it is the only one revealed
# GITHUB_TOKEN permissions are set to read

name: "[NOT CALLABLE] Fork PR Checks"

on:
  pull_request_target:
    types:
      - opened
      - reopened
      - unlocked
      - synchronize
      - labeled
    paths-ignore:
      - "README.md"

# if a second commit is pushed quickly after the first, cancel the first one's build
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  HEAD_REF: ${{ github.head_ref }}
  HEAD_REPO: ${{ github.event.pull_request.head.repo.owner.login }}
  TRUE_SHA: ${{ github.event.pull_request.head.sha }}
  SKIP_CHANGELOG: true

jobs:
  secretChecks:
    # Only allow runs from PRs that have the fork-build label
    if: contains(github.event.pull_request.labels.*.name, 'fork-build')
    name: Secrets Check
    runs-on: ubuntu-latest
    environment: fork-pr-build-pack
    outputs:
      success: ${{ steps.secretChecks.outputs.success }}
    steps:
      - name: Secret Checks
        id: secretChecks
        uses: Nomi-CEu/SecretChecker@v1.1.0
        with:
          secrets: ${{ toJSON(secrets) }}
          check: CFCORE_API_TOKEN

  setup:
    # Only allow runs that have the CFCORE_API_TOKEN secret (e.g. we are in the main repo)
    if: needs.secretChecks.outputs.success == 'true'
    name: Setup (${{ github.event.pull_request.head.sha }})
    runs-on: ubuntu-latest
    needs: secretChecks
    outputs:
      client: ${{ steps.artifactNames.outputs.client }}
      server: ${{ steps.artifactNames.outputs.server }}
      lang: ${{ steps.artifactNames.outputs.lang }}
      mmc: ${{ steps.artifactNames.outputs.mmc }}
    steps:
      - name: Checkout Ref
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
          persist-credentials: false

      # Don't use cache to prevent cache poisoning

      - name: Setup NodeJS v24
        uses: actions/setup-node@v6
        with:
          node-version: 24
          check-latest: true

      - name: Setup NPM Packages
        working-directory: ./tools
        run: npm ci

      - name: Check Manifest Files
        working-directory: ./tools
        run: npm run gulp checkManifestFiles
        env:
          CFCORE_API_TOKEN: ${{ secrets.CFCORE_API_TOKEN }}

      - name: Make Artifact Names
        id: artifactNames
        working-directory: ./tools
        run: npm run gulp makeArtifactNames

  buildClient:
    name: Build Fork PR Client (${{ github.event.pull_request.head.sha }})
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - name: Checkout Ref
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
          persist-credentials: false

      # Don't use cache to prevent cache poisoning

      - name: Setup NodeJS v24
        uses: actions/setup-node@v6
        with:
          node-version: 24
          check-latest: true

      - name: Setup NPM Packages
        working-directory: ./tools
        run: npm ci

      - name: Build Client
        working-directory: ./tools
        run: npm run gulp buildClient
        env:
          CFCORE_API_TOKEN: ${{ secrets.CFCORE_API_TOKEN }}

      - name: Upload Client Zip
        uses: actions/upload-artifact@v5
        with:
          name: ${{ needs.setup.outputs.client }}
          path: ./build/client/**/*
          if-no-files-found: error
          compression-level: 9

  buildServer:
    name: Build Fork PR Server (${{ github.event.pull_request.head.sha }})
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - name: Checkout Ref
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
          persist-credentials: false

      # Don't use cache to prevent cache poisoning

      - name: Setup NodeJS v24
        uses: actions/setup-node@v6
        with:
          node-version: 24
          check-latest: true

      - name: Setup NPM Packages
        working-directory: ./tools
        run: npm ci

      - name: Build Server
        working-directory: ./tools
        run: npm run gulp buildServer
        env:
          CFCORE_API_TOKEN: ${{ secrets.CFCORE_API_TOKEN }}

      - name: Upload Server Zip
        uses: actions/upload-artifact@v5
        with:
          name: ${{ needs.setup.outputs.server }}
          path: ./build/server/**/*
          if-no-files-found: error
          compression-level: 9

  buildLang:
    name: Build Fork PR Lang (${{ github.event.pull_request.head.sha }})
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - name: Checkout Ref
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
          persist-credentials: false

      # Don't use cache to prevent cache poisoning

      - name: Setup NodeJS v24
        uses: actions/setup-node@v6
        with:
          node-version: 24
          check-latest: true

      - name: Setup NPM Packages
        working-directory: ./tools
        run: npm ci

      - name: Build Lang
        working-directory: ./tools
        run: npm run gulp buildLang
        env:
          CFCORE_API_TOKEN: ${{ secrets.CFCORE_API_TOKEN }}

      - name: Upload Lang Zip
        uses: actions/upload-artifact@v5
        with:
          name: ${{ needs.setup.outputs.lang }}
          path: ./build/lang/**/*
          if-no-files-found: error
          compression-level: 9

  advancedChecks:
    # Only allow runs that have the CFCORE_API_TOKEN secret (e.g. we are in the main repo)
    if: needs.secretChecks.outputs.success == 'true'
    name: Checks (with Secret Requirements)
    runs-on: ubuntu-latest
    needs: [secretChecks]
    steps:
      - name: Checkout Ref
        uses: actions/checkout@v6

      # Don't use cache to prevent cache poisoning

      - name: Setup NodeJS v24
        uses: actions/setup-node@v6
        with:
          node-version: 24
          check-latest: true

      - name: Setup NPM Packages
        working-directory: ./tools
        run: npm ci

      - name: Check Manifest Files
        working-directory: ./tools
        run: npm run gulp checkManifestFiles
        env:
          CFCORE_API_TOKEN: ${{ secrets.CFCORE_API_TOKEN }}

      - name: Upload Mod List
        uses: actions/upload-artifact@v5
        with:
          name: Mod List
          path: ./build/modlist.html
          if-no-files-found: error
          compression-level: 9

  manifestSecretChecks:
    name: Manifest Secret Checks
    runs-on: ubuntu-latest
    needs: [secretChecks]
    outputs:
      success: ${{ steps.secretChecks.outputs.success }}
    steps:
      - name: Secret Checks
        id: secretChecks
        uses: Nomi-CEu/SecretChecker@v1.1.0
        with:
          secrets: ${{ toJSON(secrets) }}
          check: |
            APP_ID
            APP_KEY

  manifestChangeComment:
    # Only run if we are on a PR, and we are on main repo (checked via advancedChecks dependency)
    if: needs.manifestSecretChecks.outputs.success == 'true'
    name: Post Manifest Change Comment
    runs-on: ubuntu-latest
    needs: [advancedChecks, manifestSecretChecks]
    steps:
      - name: Get Token
        id: token
        if: ${{ inputs.branch }}
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_KEY }}
          owner: Nomi-CEu

      - name: Checkout Base Ref
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.base.sha }}

      # Don't use cache to prevent cache poisoning

      - name: Setup NodeJS v24
        uses: actions/setup-node@v6
        with:
          node-version: 24
          check-latest: true

      - name: Setup NPM Packages
        working-directory: ./tools
        run: npm ci

      - name: Checkout Head Ref
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          path: ./temp
          sparse-checkout: manifest.json

      - name: Check Manifest Files
        working-directory: ./tools
        run: npm run gulp manifestChangeComment
        env:
          CFCORE_API_TOKEN: ${{ secrets.CFCORE_API_TOKEN }}

      - uses: mshick/add-pr-comment@v2
        if: ${{ hashFiles('./build/modChanges.md') != '' }}
        with:
          message-path: ./build/modChanges.md
