# Test Builds pack from pushes and pull requests in same repo.
name: "[NOT CALLABLE] Test Build Pack"
on:
  push:
    branches:
      - main
      - test-buildscript*
      - dev/*
    paths-ignore:
      - "README.md"

  pull_request:
    paths-ignore:
      - "README.md"
    types:
      - opened
      - reopened
      - synchronize

# if a second commit is pushed quickly after the first, cancel the first one's build
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  secretChecks:
    name: Secrets Check
    runs-on: ubuntu-latest
    outputs:
      success: ${{ steps.secretChecks.outputs.success }}
    steps:
      - name: Secret Checks
        id: secretChecks
        uses: Nomi-CEu/SecretChecker@v1.1.0
        with:
          secrets: ${{ toJSON(secrets) }}
          check: CFCORE_API_TOKEN

  build:
    # Only allow runs that have the CFCORE_API_TOKEN secret (e.g. we are in the main repo)
    if: needs.secretChecks.outputs.success == 'true'
    name: Test Build Pack
    needs: secretChecks
    uses: ./.github/workflows/buildpack.yml
    with:
      separate_upload: true
      head_ref: ${{ github.head_ref }}
      true_sha: ${{ github.event.pull_request.head.sha }}
      skip_changelog: ${{ github.event.pull_request != null }}
      release_type: Cutting Edge Build
    secrets: inherit
